<div class='event-list'>
    <h3>Events:</h3>
    <form name='findDay' id='findday'>
        Find events by date:
        <input type="text" ng-model='date' required ng-pattern="/\d\d\d\d.\d\d.\d\d/" placeholder='enter date in yyyy.mm.dd'>
        <button ng-click='$ctrl.findDay(date,findDay)'>Find</button>
    </form>
    Search event:
    <input type="text" name="search-event" ng-model='query' placeholder='search event'>
    <ol>
        <li ng-repeat='event in $ctrl.eventList| filter:{"title":query} track by event.id '>
            <p>{{event.date}}</p>
            <p>{{event.title}}</p>
            <button ng-click='$ctrl.deleteEvent(event.id)'>delete</button>
        </li>
    </ol>
</div>